.head-box{
    border: 1px black solid;
    padding:10px;
}
.parent{
    padding:7px;
}
.hr1{
    margin-top: -20px;
    width: 250px;
    float: left;
    border-color: black;
}
.hr2{
    margin-top: -20px;
    width: 110px;
    float: left;
    border-color: black;
}
.hr3{
    margin-top: -20px;
    width: 90px;
    float: left;
    border-color: black;
}
p{
    font-size: large;
    font-family: Arial;
}
h2{
    font-family:Arial;
    font-size: xx-large;
}
li{
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a{
    font-weight: bold;
    color: black;
}
.mt-7{
    margin-top:7px;
}